:root{
 --white:#CEC5B2;
 --dark:#3E4A56;
 --accent-color:#F2FD7D;       
}
@font-face{
  font-family: 'zodiak';
  src: url("../font/Zodiak-VariableItalic.ttf");
}
@font-face{
    font-family: 'grand hotel';
    src: url("../font/GrandHotel-Regular.ttf");
}
@font-face{
    font-family: 'quick sand';
    src: url("../font/Quicksand-Bold.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    overflow: hidden;
    font-family: 'zodiak';
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
/*Navigation bar*/
header{
  background-color: var(--white);
}
#left-side-nav{
  z-index: 3;
}
.sidebar i{
  margin-left: 6px;
}
.nav-side{
  height:100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
.nav-right a li{
  color: #f7f7f7;
}
nav ul{
    list-style: none;
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    gap: 1rem;
}
nav a{
    text-decoration: none;
    color: #f7f7f7;
    font-weight: bold;
}
nav li:first-child{
    margin-right: auto;
}
nav a:hover{
    border-bottom: 3px solid #f7f7f7;
    border-radius: 3px;
}
.menu{
    display: none;
    padding: 2.5px;
    border: 1px solid #000;
    border-radius: 5px;
}
.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #f7f7f7;
    box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
    min-height: 100vh;
    width: 250px;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}
.sidebar.active{
  transform: translateX(0);
}
.sidebar a,
.sidebar li {
  width: 100%;
  color: #000;
}
/*End of navigation bar*/

/*hero section*/
.side{
  height:100vh;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: absolute;
}
.side .title{
  font-size: 4.5vw;
  margin:0px 15vw;
  width: 70vw;
}
.fancy-left{
  font-weight: bold;
  color: white;
  mix-blend-mode: overlay;
  -webkit-text-stroke: 1px #000;
  text-stroke: 1px solid #000;
  font-family: 'quick sand';
  font-size: 8vw;
}
.fancy-right{
  font-family: 'grand hotel';
  font-weight: bold;
  color: black;
  mix-blend-mode: overlay;
  -webkit-text-stroke: 1px #000;
  text-stroke: 1.5px solid #000;
  font-size: 8vw;
}
#left-side::after{
  content: '';
  position: absolute;
  inset: 0 0 0 0;
  background-image: url("../assets/vanilla-bg.png");
  z-index: -1;
  background-size: 45vw;
  background-position: center var(--bgY,0%);
  background-repeat: no-repeat;
  pointer-events: none;
}
#left-side{
  background-color: var(--white);
  background-image: url("../assets/vanilla-2.png");
  z-index: 2;
  background-position: center;
  background-size: 35vw;
  background-repeat: no-repeat;
}
#right-side::before{
  content: '';
  position: absolute;
  inset: 0 0 0 0;
  background-image: url("../assets/chocolate-bg2.png");
  z-index: 1;
  background-size: 45vw;
  background-position: center var(--bgY,0%);
  background-repeat: no-repeat;
  pointer-events: none;
}
#right-side{
  background-color: var(--dark);
  background-image: url("../assets/chocolate.png");
  background-size: 35vw;
  background-repeat: no-repeat;
  background-position: center;
}
#right-side .title{
  color: var(--white);
}
#left-side .title{
  color: var(--dark);
}
.hero-btn-left{
  margin-top: 111px;
  padding:0px 10px;
  border: 2px solid var(--dark);
  font-size: 1.5rem;
  font-family: Sans-Serif;
}
.hero-btn-right i,
.hero-btn-left i{
  margin-left: 5px;
}
.hero-btn-right{
  margin-top: 105px;
  padding:0px 10px;
  border: 2px solid var(--white);
  font-size: 1.5rem;
  font-family: Sans-Serif;
}
.hero-btn-left a{
  text-decoration: none;
  color: var(--dark);
}
.hero-btn-right a{
  text-decoration: none;
  color: var(--white);
}
.btn-left{
  -webkit-text-stroke: 1px var(--dark);
  text-stroke: 1.5px solid var(--dark);
}
.btn-right{
  -webkit-text-stroke: 1px var(--white);
  text-stroke: 1.5px solid var(--white);
}
.contact-info{
  font-family: Sans-Serif;
  display: flex;
  margin-top: 20rem;
}
@media (max-width:900px){
    .hideonmobile{
        display: none;
    }
    .hero-btn-left{
  padding:0px 10px;
  border: 2px solid var(--dark);
  font-size: 1.5rem;
  font-family: Sans-Serif;
    }
    .hero-btn-right{
        padding:0px 10px;
        border: 2px solid var(--white);
        font-size: 1.5rem; 
        font-family: Sans-Serif;
    }
    .side .title{
        font-size: 4.5vw;
        margin:0px 15vw;
        width: 70vw;
    }
    .menu{
        display: block;
        margin-left: 14rem;
    }
  #left-side::after{
  content: '';
  position: absolute;
  inset: 0 0 0 0;
  background-image: url("../assets/vanilla-bg.png");
  z-index: -1;
  background-size: 45vw;
  background-position: center var(--bgY,0%);
  background-repeat: no-repeat;
  pointer-events: none;
}
#left-side title{
  color: var(--dark)!important;
}
#left-side{
  background-color: var(--white);
  background-image: url("../assets/vanilla-2.png");
  z-index: 2;
  background-position: center;
  background-size: 70vw;
  background-repeat: no-repeat;
}
#right-side::before{
  content: '';
  position: absolute;
  inset: 0 0 0 0;
  background-image: url("../assets/chocolate-bg2.png");
  z-index: 1;
  background-size: 45vw;
  background-position: center var(--bgY,0%);
  background-repeat: no-repeat;
  pointer-events: none;
}
#right-side{
  background-color: var(--dark);
  background-image: url("../assets/chocolate.png");
  background-size: 70vw;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width:800px){
    .hideonmobile{
        display: none;
    }
    .menu{
        display: block;
        margin-left: 14rem;
    }
  #left-side::after{
  content: '';
  position: absolute;
  inset: 0 0 0 0;
  background-image: url("../assets/vanilla-bg.png");
  z-index: -1;
  background-size: 45vw;
  background-position: center var(--bgY,0%);
  background-repeat: no-repeat;
  pointer-events: none;
}
#left-side{
  background-color: var(--white);
  background-image: url("../assets/vanilla-2.png");
  z-index: 2;
  background-position: center;
  background-size: 70vw;
  background-repeat: no-repeat;
}
#right-side::before{
  content: '';
  position: absolute;
  inset: 0 0 0 0;
  background-image: url("../assets/chocolate-bg2.png");
  z-index: 1;
  background-size: 45vw;
  background-position: center var(--bgY,0%);
  background-repeat: no-repeat;
  pointer-events: none;
}
#right-side{
  background-color: var(--dark);
  background-image: url("../assets/chocolate.png");
  background-size: 70vw;
  background-repeat: no-repeat;
  background-position: center;
  color: #f7f7f7;
}
}
@media (max-width:400px){
    nav a{
        width: 100%;
    }
    nav li{
        width: 100%;
    }

}